.ujjainhistory-banner {
    background-image: url("../../../public/images/ujjain-history.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
h2{
    font-size: 50px;
    padding: 20px;
}