.mahakal-banner {
  background-image: url("../../../public/images/mahakal-lok.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}


.about-mahakalcard {
  border: 1px solid #0000001A;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 72px;

  h5 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    font-family: Onest;
  }

  span {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    opacity: 40%;
    font-family: Onest;
  }
}

.Glimpses-div {
  background-color: #F6EAD6;
}