.pujan-banner {
    background-image: url("../../../public/images/pujan.png");
    background-repeat: no-repeat;
    background-size: cover;
    // height: 70vh;
    aspect-ratio: 16 / 5;
}

.pujan-section {
    padding-bottom: 64px;

    .pujan-card {
        border-radius: 16px;
        border: 1px solid #DDDDDD;
        overflow: hidden;
        transition: all 0.3s ease;
        padding: 24px;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
            transform: translateY(-3px);
        }

        .image-wrapper {
            height: 296px;

            @media (max-width: 767px) {
                height: 180px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        .card-body {
            padding: 24px 0px;

            .card-title {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 9px;
                color: #000000;
                font-family: 'Onest';

                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }

            .card-text {
                font-size: 16px;
                color: #898989;
                font-family: 'Onest';
            }
        }

        .card-footer-custom {
            padding: 6px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #F4F4F4;
            border-radius: 8px;

            .Dakshina {
                font-weight: 400;
                font-size: 12px;
                color: #4F4F56;
                font-family: 'Onest';
            }

            .price {
                font-weight: 700;
                font-size: 24px;
                color: #11111F;
                font-family: 'Onest';

                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }

            .book-btn {
                // background-color: #f26522;
                border: none;
                padding: 8px 16px;
                font-size: 16px;
                // border-radius: 6px;

                &:hover {
                    background-color: #d8561e;
                }
            }
        }
    }
}