.Gallery-banner {
    background-image: url("../../../public/images/gallery.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.gallery-media {
    padding: 51px 0px 20px;

    img {
        width: 100%;
        height: 393px;
        object-fit: cover;
        border-radius: 8px;
    }
}