.Gallery-banner {
    background-image: url("../../../public/images/gallery.png");
    background-repeat: no-repeat;
    background-size: cover;
    // height: 70vh;
    aspect-ratio: 16 / 5;
}

.gallery-media {
    padding: 51px 0px 20px;

    @media (max-width: 1024px) {
        padding: 20px 0px;
    }

    img {
        width: 100%;
        height: 393px;
        object-fit: cover;
        border-radius: 8px;

        @media (max-width: 767px) {
            height: 200px;
        }
    }
}