.booking-banner {
  background-image: url("../../../public/images/timing/timing-banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh
}
.booking-detail p, .booking-detail li{
    font-size: 16px;
    font-weight: 600;
}