.trustees-banner {
  background-image: url("../../../public/images/trustees/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  // height: 60vh;
  aspect-ratio: 16 / 5;
}
.trustees-card {
  background-color: #f6ead6;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  height:100%
}
.trustees-card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.trustees-card .trustee-img {
  height: 102px;
  width: 102px;
  overflow: hidden;
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  margin: auto;
  img {
    width: 100%;
    height: 100%;
  }
}
.trustees-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.trustees-card .trustee-detail {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  p {
    font-weight: 600;
    font-size: 16px;
    color: #898989;
    padding-bottom: 5px;
    border-bottom: 1px solid #0000001a;
    margin-bottom: 5px;
  }
  span {
    color: #ff8d28;
    font-size: 20px;
    font-weight: 600;
  }
}