.annakshetra-banner {
  background-image: url("../../../public/images/annakshetra.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.annakshetra-detail p{
    background: none;
    font-size: 19px;
    color: #4F4F56;
    font-weight: 500;
}