.annakshetra-banner {
  background-image: url("../../../public/images/annakshetra.png");
  background-repeat: no-repeat;
  background-size: cover;
  // height: 50vh;
  aspect-ratio: 16 / 5;
}

.annakshetra-detail p {
  background: none !important;
  font-size: 19px;
  color: #4F4F56;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}