.glimpses-section {
    padding: 40px 0px 70px;
}

/* Header */
.section-header {
    margin-bottom: 2.5rem;

    .badge {
        display: inline-block;
        background: #fdebd3;
        color: #f97316;
        padding: 6px 14px;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    h2 {
        margin-top: 12px;
        font-family: serif;
        font-size: 32px;
        color: #0b1444;
    }
}

/* Slider */
.glimpses-slider {

    .slide-wrapper {
        padding: 0 12px;
        transition: all 0.4s ease;
        opacity: 0.4;
        transform: scale(0.85);

        img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            border-radius: 16px;

            @media screen and (min-width: 768px) and (max-width:1024px) {
                height: 200px;
            }
        }
    }

    /* Active center slide */
    .slick-center .slide-wrapper {
        opacity: 1;
        transform: scale(1);

        img {
            height: 260px;

            @media screen and (min-width: 768px) and (max-width:1024px) {
                height: 200px;
            }
        }
    }

    /* Dots */
    .slick-dots li {
        width: auto;
        height: auto;
        margin: 0 7px;
    }

    .slick-dots li.slick-active button:before {
        display: none;
    }

    .slick-dots li.slick-active button {
        background: #4F4F56;
        width: 34px;
        height: 16px;
        border-radius: 10px;
    }

    .slick-dots li button {
        width: 16px;
        height: 16px;
        padding: 0;

        &:before {
            content: "";
            width: 16px;
            height: 16px;
            background: #4F4F56;
            border-radius: 50%;
            opacity: 30%;
            display: block;
        }
    }
}