.contact-banner {
  background-image: url("../../../public/images/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.time-banner.contact-head h1 {
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    rgba(246, 211, 101, 0.3) 0%,
    rgba(253, 160, 133, 0.3) 100%
  );
  border-radius: 100px;
  padding: 8px 24px;
  display: unset;
  position: relative;
}
.time-banner.contact-head .line-left {
  display: inline-block;
  height: 1px;
  width: 452px;
  background-image: url("../../../public/images/line.png");
  background-size: contain;
}
.time-banner.contact-head .line-right {
  display: inline-block;
  height: 1px;
  width: 452px;
  background-image: url("../../../public/images/line.png");
  background-size: contain;
}
.contact-detail {
  h2 {
    font-weight: 600;
    font-size: 48px;
    color: #ff8d28;
  }
  .contact-info {
    border: 1px solid #d9d9d9;
    padding: 24px;
    border-radius: 24px;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
  }
  .link {
    color: #ff8d28;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
  }
  p {
    color: #667085;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0px;
  }
}
.contact-form {
  background: #f6ead6;
  h2 {
    font-weight: 700;
    font-size: 40px;
    color: #02033b;
  }
  .form-control,
  .form-control:focus {
    height: 56px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
  }
  .btn-submit,
  .btn-submit:focus {
    background-color: #ff8d28;
    height: 52px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 100px;
  }
  .btn-submit:hover {
    background-color: #e6761d;
    color: #fff;
  }
}
