.Architect-banner {

    background-image: url("../../../public/images/about/architect-banner.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    height: 900px;
    // .Arcitect-img {
    //     height: 90vh;
    //     justify-content: center;
    //     align-items: center;
    //     display: flex;
    //     position: relative;

    //     img {
    //         position: absolute;
    //         inset: 0;
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }

    @media (max-width: 767px) {
        height: 200px;
    }

    @media screen and (min-width: 768px) and (max-width:1024px) {
        height: 400px;
    }

    h1 {
        color: #02033B;
        font-family: "Samarkan";
        font-size: 87px;
        padding-top: 173px;

        @media (max-width: 767px) {
            font-size: 30px;
            padding-top: 45px;
        }

        @media screen and (min-width: 768px) and (max-width:1024px) {
            font-size: 55px;
            padding-top: 60px;
        }
    }
}

// 
.architect-history {
    padding: 80px 0px;

    @media (max-width: 767px) {
        padding: 40px 0px;
    }

    img {
        @media (max-width: 767px) {
            width: 100%;
        }

        @media screen and (min-width: 768px) and (max-width:1024px) {
            width: 100%;
        }
    }

    h2 {
        color: #02033B;
        font-size: 32px;
        font-weight: 800;
        background: linear-gradient(90deg, #F4F4F4 0%, #FFFFFF 100%);
        padding: 16px;

        @media (max-width: 767px) {
            font-size: 23px;
        }
    }

    p {
        color: #4F4F56;
        font-size: 18px;
    }
}

// 
.temple-arc {
    background-color: #F4F4F4;

    h2 {
        background: linear-gradient(90deg, #FFFFFF 0%, #F4F4F4 100%);
    }
}

// 
.festival-section {
    padding: 104px 0px 87px 0px;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: -100px;
        right: 40px;
        background-image: url("../../../public/images/about/copper-utensils.svg");
        background-repeat: no-repeat;
        height: 384px;
        width: 354px;

        @media (max-width: 767px) {
            height: 190px;
            width: 140px;
            background-size: 100%;
            top: -60px;
        }
    }

    h2 {
        color: #02033B;
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 16px;

        @media (max-width: 767px) {
            font-size: 23px;
        }
    }

    p {
        color: #4F4F56;
        font-size: 20px;
        padding-right: 50px;

        @media (max-width: 767px) {
            padding: 0;
        }
    }
}

// 
.quote-area {
    background-color: #F4F4F4;
    padding: 110px 0px;

    @media (max-width: 767px) {
        padding: 40px 0px;
    }

    h3 {
        font-size: 40px;
        font-weight: 400;
        color: #11111F;
        font-family: "Pacifico", cursive;
        margin: 0;
        line-height: 68px;

        @media (max-width: 767px) {
            line-height: 40px;
            font-size: 25px;
        }
    }
}