.Hero-section {
    padding: 54px 0px;
    background-image: url("../../public/images/home/banner.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    .mahakal-img {
        width: 100%;
    }

    .Heading_div {
        padding-left: 10px;

        h1 {
            margin: 0;
            font-weight: 700;
            font-size: 64px;
            padding-bottom: 32px;
            background: linear-gradient(90deg, #000000 9.75%, #803912 90.36%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-family: Georgia;
        }

        p {
            font-size: 20px;
            color: #000;
        }

        .span-sacred {
            width: 313px;
        }

        .location-span {
            font-size: 16px;
            font-weight: 400;
            color: #000;
            padding-bottom: 34px;
        }

        .hero-button {
            display: flex;
            align-items: center;

            button {
                padding: 10px 16px;
                border-radius: 8px;
                font-size: 16px;
                display: flex;
                align-items: center;
            }

            .book-aartibtn {
                color: #fff;
            }

        }
    }

}

//
.span-sacred {
    background: linear-gradient(101.29deg, rgba(210, 110, 48, 0.5) 1.22%, rgba(239, 94, 4, 0.5) 65.24%);
    padding: 10px;
    border-radius: 100px;
    text-align: center;

    span {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        justify-content: center;
    }
}

// 
.temple-stats {
    background-color: #F3F3F3;
    padding: 26px 0px;

    .stat-item {
        border: 1px solid #2B121233;
        background-color: #fff;
        border-radius: 8px;
        padding: 16px;

        h3 {
            font-size: 24px;
            font-weight: 400;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: #000;
        }
    }
}

// 
.about-bg {
    padding-bottom: 90px;

    &::before {
        position: absolute;
        left: 0;
        content: "";
        // background-image: url("../../public/images/about/temple.png");
        position: absolute;
        bottom: -28px;
        background-repeat: no-repeat;
        height: 555px;
        width: 595px;
        z-index: 99;
    }

    &::after {
        position: absolute;
        right: 0;
        content: "";
        // background-image: url("../../public/images/about/trishul.png");
        position: absolute;
        top: -0;
        background-repeat: no-repeat;
        height: 523px;
        width: 290px;
        z-index: 99;
    }
}

.about-mahakaleshwar {
    padding-top: 90px;
    position: relative;

    .Top-heading {
        span {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
        }

        h2 {
            background: linear-gradient(90deg, #000000 9.75%, #803912 90.36%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-family: Georgia;
            font-size: 40px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: #000000B2;
            padding-bottom: 48px;
        }
    }

    .about-lefttext {
        p {
            color: #000000B2;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .about-cards {
        border: 1px solid #78787833;
        border-radius: 8px;
        padding: 24px;

        &:hover {
            box-shadow: 0px 0px 10px 0px #E66C132E;
        }

        span {
            font-size: 12px;
            font-weight: 600;
        }

        h4 {
            font-size: 18px;
            font-family: Georgia;
        }

        p {
            font-size: 14px;
            color: #00000099;
        }
    }

}

// 
.temple-heritage {
    background-color: #F4F4F4;

}

// 
.divine-service {
    .service-card {
        .card {
            border-radius: 12px;
            border-color: #A8A8A8;
            background-color: #EDEDED;

            img {
                border-radius: 12px 12px 0px 0px;
                height: 170px;
                object-fit: cover;
            }

            button {
                width: 100%;
                font-size: 14px;
            }

            .card-title {
                font-family: Georgia;
                font-size: 18px;
                color: #000000;
            }

            .card-text {
                color: #00000099;
                font-size: 14px;
                margin-bottom: 24px;
                padding-right: 15px;
            }

            .service-bgspan {
                background: linear-gradient(101.29deg, rgba(210, 110, 48, 0.5) 1.22%, rgba(239, 94, 4, 0.5) 65.24%);
                padding: 5px 14px;
                border-radius: 100px;
                text-align: center;
                display: inline-block;

                span {
                    font-size: 10px;
                    color: #000;
                    font-weight: 400;
                    text-transform: uppercase;
                    display: block;
                }
            }
        }
    }

    .bhasma-articard {
        border: 1px solid #C2C2C2;
        border-radius: 22px;
        background-color: #F4F4F4;

        img {
            border-radius: 22px 0px 0px 22px;
            width: 100%;
        }

        .span-sacred {
            width: 150px;
        }

        h4 {
            font-family: Georgia;
            font-size: 32px;
        }

        p {
            color: #00000099;
            margin-bottom: 30px;
        }

        .card_flex {
            margin-bottom: 32px;
            display: flex;
            gap: 12px;

            .inner-card {
                border: 1px solid #DBDBDB;
                border-radius: 8px;
                background-color: #fff;
                padding: 10px;
                width: 122px;

                span {
                    font-size: 12px;
                    color: #00000099;
                }

                h5 {
                    font-size: 16px;
                    color: #000000;
                    margin: 0;
                }
            }
        }

    }
}

.center-attraction {

    /* Featured Card */
    .featured-card {
        // background: url("../../public/images/home/mahakal-lok.svg") center/cover no-repeat;
        border-radius: 24px;
        color: #fff;
        position: relative;


        .featured-content {
            position: relative;
            max-width: 740px;
            padding: 72px 75px;
        }

        .badge-tag {
            font-size: 16px;
        }

        h3 {
            margin-top: 18px;
            font-size: 32px;
            font-family: Georgia;
            margin-bottom: 24px;
        }

        .stats {
            display: flex;
            gap: 1rem;
            margin-bottom: 32px;

            .stat-box {
                background: #fff;
                color: #000;
                padding: 6px 32px;
                border-radius: 8px;
                border: 1px solid #2B121233;
                text-align: center;

                strong {
                    display: block;
                    font-size: 20px;
                    // font-family: "AvertaStd-Bold";
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }

    /* Info Cards */
    .info-card {
        border-radius: 12px;
        border: 1px solid #C4C4C4;
        flex-direction: row;
        padding: 16px;

        .card-body {
            padding: 0px 26px;
        }

        .card-title {
            font-family: Georgia;
            font-size: 20px;
            padding-top: 10px;
        }

        .card-text {
            font-size: 14px;
            color: #00000099;
        }

        .Daily-Meals {
            border: 1px solid #E4E4E4;
            border-radius: 4px;
            padding: 6px 10px;
            color: #00000099;
            font-size: 12px;
            display: inline-block;
            margin-bottom: 16px;
        }

        button {
            width: 100%;
            color: #EF5E04;
        }

        .card-tag {
            font-size: 14px;
        }
    }

}

/* Awards */
.awards-section {
    padding-bottom: 60px;

    .award-card {
        padding: 24px 47px;
        border-radius: 12px;
        border: 1px solid #C0C0C0;

        .card-body {
            padding: 0;

            .img-border {
                border: 1px solid #CACACA;
                border-radius: 12px;
                padding: 10px 0;
                max-width: 123px;
                margin: 0 auto;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 24px;
                position: relative;

                .award-img {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                }
            }

            .card-title {
                font-size: 20px;
                font-family: 'georgia';
                padding-top: 16px;
            }

            p {
                color: #00000099;
                margin: 0;
            }
        }
    }

    .year {
        background: linear-gradient(103.09deg, rgba(230, 108, 19, 0.3) 1.38%, rgba(227, 141, 13, 0.3) 42.01%);
        color: #000;
        padding: 4px 12px;
        border-radius: 20px;
        font-size: 14px;
        border: 1px solid #EF5E04;
    }

    .stars {
        color: #F59F0A;
        margin-top: 0.5rem;
        font-size: 20px;
    }
}