.templepremises-banner {
    background-image: url("../../../public/images/temple-premises.png");
    background-repeat: no-repeat;
    background-size: cover;
    // height: 70vh;
    aspect-ratio: 16 / 5;
}

.premises-section {
    h1 {
        font-family: onest;
        font-weight: 700;
        color: #11111F;
        font-size: 40px;

        @media (max-width: 767px) {
            font-size: 25px;
        }
    }

    .para {
        font-family: onest;
        font-weight: 500;
        color: #4F4F56;
        font-size: 20px;
        padding-bottom: 68px;

        @media (max-width: 767px) {
            font-size: 16px;
            padding-bottom: 20px;
        }
    }

    .temple-card {
        border: 1px solid #DBDBDB;
        background: #F4F4F4;
        border-radius: 16px;
        padding: 24px;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
        }

        .image-wrapper {
            height: 177px;
            //   overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                object-fit: cover;
            }
        }

        .card-body {
            padding: 16px 0px 0px;

            .card-title {
                font-size: 24px;
                font-weight: 700;
                color: #000000;
                font-family: 'Onest';

                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }

            .card-text {
                font-size: 16px;
                color: #898989;
                line-height: 1.5;
                background: #FFFFFF;
                padding: 16px;
                font-family: 'Onest';
                border-radius: 8px;
                min-height: 176px;

                @media (max-width: 767px) {
                    min-height: auto;
                }
            }
        }
    }
}



.quote-box {
    background: #F0FDF4;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #C9E2D0;

    p {
        font-weight: 600;
        font-size: 20px;
        font-family: 'Onest';

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    span {
        font-weight: 400;
        font-size: 16px;
        font-family: 'Onest';

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}