.privacy-banner {
    background-image: url("../../../public/images/privacy.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
.policy-detail {
  .policy-card {
    box-shadow: 0px 1px 2px -1px #0000001a;
    border: 1px solid #e5e7eb;
    border-radius: 14px;
    padding: 24px;
    h2 {
      color: #ff8d28;
      font-size: 24px;
      font-weight: 600;
    }
    .policy-para {
      font-size: 16px;
      font-weight: 400;
      color: #364153;
      margin-bottom: 0px;
    }
  }
  h3 {
    color: #ff8d28;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    span {
      background: #ffedd4;
      height: 32px;
      width: 32px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      color: #f54900;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .info-para {
    color: #0a0a0a;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  h4 {
    color: #1e2939;
    font-size: 18px;
    font-weight: 400;
  }
  .inner-box {
    p {
      color: #4a5565;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .info-box {
    border-left: 4px solid #ff6900;
    background: #fff7ed;
    border-radius: 8px;
    padding: 16px;
    p {
      margin-bottom: 0px;
      font-size: 13px;
      font-weight: 400;
    }
  }
  .transaction {
    border: 1px solid #e5e7eb;
    background: #f9fafb;
    border-radius: 4px;
    padding: 16px;
    height:100%;
    h5 {
      color: #0a0a0a;
      font-size: 16px;
      font-weight: 500;
    }
    p{
      font-size: 14px;
      font-weight: 400;
      color: #4A5565;
      margin-bottom: 0px;
    }
  }
}
.final-statement-section {
  padding: 40px 0;
}

.final-statement-box {
  background: #FFF7ED;
  border-radius: 8px;
  padding: 32px 30px;
  font-family: onest;

  .title {
    font-size: 20px;
    font-weight: 700;
    color: #101828;
    margin-bottom: 16px;
  }

  .desc {
    font-size: 15px;
    line-height: 1.6;
    color: #364153;
    margin-bottom: 16px;
  }

  .contact {
    font-size: 14px;
    color: #6A7282;
    margin: 0;

    a {
      color: #FF8D28;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
